[Unit]
Description=DNS route daemon
After=network-online.target named.service openvpn-client@vps.service
Wants=network-online.target named.service openvpn-client@vps.service

[Service]
TimeoutStartSec=infinity
Environment="ROUTE=10.8.10.1"
Environment="DOMAINS=discord-attachments-uploads-prd.storage.googleapis.com,discord-attachments-uploads-prd.storage.googleapis.com,dis.gd,discord.co,discord.com,discord.design,discord.dev,discord.gg,discord.gift,discord.gifts,discord.media,discord.new,discord.store,discord.tools,discordapp.com,discordapp.net,discordmerch.com,discordpartygames.com,discord-activities.com,discordactivities.com,discordsays.com,youtube.com,google.com,googlevideo.com,telegram.org,nyaa.si,rutracker.org,battle.net"
Environment="ADDRESS=:53"
Environment="DNSADDRESS=127.0.0.1:5454"
ExecStart=/usr/bin/dns-route

[Install]
WantedBy=multi-user.target
