[Unit]
Description=DNS route daemon
After=network-online.target named.service openvpn-client@vps.service
Wants=network-online.target named.service openvpn-client@vps.service

[Service]
TimeoutStartSec=infinity
EnvironmentFile=-/etc/conf.d/dns-route.env
ExecStart=/usr/bin/dns-route

[Install]
WantedBy=multi-user.target
