[Unit]
Description=DNS route daemon
After=network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=infinity
StateDirectory=dns-route
ExecStart=/usr/bin/dns-route -http 192.168.12.1:9010 -db /var/lib/dns-route/config.db

[Install]
WantedBy=multi-user.target
